# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=sertaccan

# Drizzle — container içinde host adı "db", dışarıdan "localhost"
DATABASE_URL=postgresql://postgres:password@db:5432/sertaccan

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
