# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=sertaccan

# Drizzle — production'da host adı "postgres" (container adı), lokalde "localhost"
DATABASE_URL=postgresql://postgres:PASSWORD@postgres:5432/sertaccan

# Better Auth
BETTER_AUTH_SECRET=   # openssl rand -base64 32
BETTER_AUTH_URL=https://sertaccan.com
